<div class="product_card">
  {{Item}}
  <div class="product-content">
      <div class="product">
        <ul>
          <img src='photos/IMG_2187.JPG' alt=""><br>
        </ul>
        <ul>
          <li>{{this.title}} КАРТОФЕЛЬ С СЕЛЬДЬЮ</li>
          <li>{{this.ingredients}} с маринованным луком, зеленью и творожным сыром</li>
          <li>Вес: {{this.weight}} 320г</li>
          <li class="basketAndPrice">
            <button class="btn" id="basketBtn">В корзину</button>
            <p>{{this.price}} 370₽</p>
          </li>
          <li>
            <div class="params">
              <ul>
                <li>Белки</li>
                <li>{{this.proteins}} 4.12</li>
              </ul>
              <ul>
                <li>Жиры</li>
                <li>{{this.fats}} 20.73</li>
              </ul>
              <ul>
                <li>Углеводы</li>
                <li>{{this.carbs}} 3.56</li>
              </ul>
              <ul>
                <li>Ккал</li>
                <li>{{this.calories}} 550</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
  </div>
  <div class="li"><li class="li-title">С этим товаром покупают</li></div>
      <div class="other">
        <div class="other-img">
          <img src='/photos/IMG_2187.JPG' alt=""><br>
          <img src='/photos/IMG_1973.JPG' alt=""><br>
          <img src='/photos/IMG_1973.JPG' alt=""><br>
          <img src='/photos/IMG_1973.JPG' alt=""><br>
        </div>
      </div>
      <div class="map">
        <div>
          <div class="info-card">
            <ul>
            <li class="marker">Наш адрес: Москва ул.Самойлова д.10</li>
            <li class="mail-marker">Наша почта: <a style="color: azure;" href="elbrus@bootcamp.com">elbrus@foodcamp.com</a></li>
            {{!-- <li class="bron-marker"> --}}
              <li class="bron">
                <button class="btn" id="basketBtn">Забронировать стол</button>
                <p class=phone><a href="tel:88005553535">8 (800) 555-35-35</a></p>
              </li>
            {{!-- </li> --}}
            <li class="soc">Мы в соцюсетях: </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="token">
            <p>Мы Тут</p>
          </div>
          {{!-- <div class="tokenap"></div> --}}
        </div>
      </div>
</div>
