  {{#each coldSnacks}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each hotSnacks}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each meatMeals}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each soups}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each fishMeals}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each bbqMeals}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each specialMeals}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}
  {{#each drinks}}
    <div>
        <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
        <span>{{this.title}}</span><br>
        <span>{{this.weight}}</span><br>
        <span>{{this.ingredients}}</span><br>
        <span>{{this.price}}</span><br>
        <button id="basketBtn">В корзину</button><br>
        {{!-- <button id="minusBtn"> - </button>
        <button id="plusBtn"> + </button> --}}
    </div>
  {{/each}}

