<div class="content-container">

<div class="container">
  <div class="coldSnacks">
    {{#each coldSnacks}}
      <div class="menu">
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
          <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="hotSnacks">
    {{#each hotSnacks}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="meatMeals">
    {{#each meatMeals}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="soups">
    {{#each soups}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="fishMeals">
    {{#each fishMeals}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="bbqMeals">
    {{#each bbqMeals}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="specialMeals">
    {{#each specialMeals}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
  <div class="drinks">
    {{#each drinks}}
      <div>
          <img style="height: 200px; width: 200px" src="{{'Photos.url'}}" alt=""><br>
           <ul>
          <li>{{this.title}}</li>
          <li>{{this.weight}}</li>
          <li>{{this.ingredients}}</li>
          <li>{{this.price}}</li>
          <li><button id="basketBtn">В корзину</button></li>
          </ul>
          {{!-- <button id="minusBtn"> - </button>
          <button id="plusBtn"> + </button> --}}
      </div>
    {{/each}}
  </div>
</div>

</div>
